.nav {
  padding: 0.75em 1em;
  border-bottom: 2px solid var(--dark-gray);

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 2;

  position: relative;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  width: 100%;
  max-width: 1440px;

  position: relative;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 0.45em;
}
.listItem:hover {
  cursor: pointer;
}
/* logo */
.globe {
  overflow: visible;
  stroke: #df4c4c;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.logo {
  font-size: 18px;
  font-weight: 800;
  margin-right: 0.2em;
}

/* toggler */
.modeText {
  font-size: 14px;
  font-weight: 600;
}
.modeIcon {
  transform: scale(1.4);
}
/* disabled toggler icon */
.disabledContainer {
  position: relative;
}
.exclamation {
  transform: scale(1.6);
}
.exclamation:hover {
  cursor: pointer;
  color: #c79200b2;
}
/* theme dialog popup (onHover) */
.themeDialog {
  position: absolute;
  right: 20px;
  bottom: 0;

  color: #c79200b2;

  border: 1px solid #c79200b2;
  border-radius: 10px;
  padding: 0.05em 0.25em;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0.75em 4em;
  }
  .logo {
    font-size: 22px;
  }
  .modeText {
    font-size: 16px;
  }
}
