/* defaults */

.leaflet-container {
  min-width: 100%;
  min-height: 100%;
}
.disabled {
  pointer-events: none;
}

/* Light & Dark */
/* 
 --dark-blue - Dark Mode Elements 
 --very-dark-blue-1 - Dark Mode Background 

 --very-dark-blue-2 - Light Mode Text 
 --very-light-gray - Light Mode Background 

 --white - Dark Mode Text & Light Mode Elements 

 --dark-gray - Universal 

*/
/*-- Theme Defaults --*/
/*--- Light Mode ---*/
#light {
  background-color: var(--white);
  color: var(--very-dark-blue-2);
  box-shadow: 0 0 3px 3px rgb(233, 233, 233);
}
/*--- Dark Mode ---*/
#dark {
  background-color: var(--dark-blue);
  color: var(--white);
  box-shadow: 0 0 3px 3px hsl(209, 22%, 34%);
}

/* Universal theme classes */
/* Light Mode */
#light .element-border {
  border: 1px solid rgb(233, 233, 233);
}
#light .element-full {
  background-color: var(--white);
  color: var(--very-dark-blue-2);
  box-shadow: 0 0 3px 3px rgb(233, 233, 233);
}
/* Dark Mode */
#dark .element-border {
  border: 1px solid hsl(209, 22%, 34%);
}
#dark .element-full {
  background-color: var(--dark-blue);
  color: var(--white);
  box-shadow: 0 0 3px 3px hsl(209, 22%, 34%);
}
/*-- main background color --*/
/*--- Light Mode ---*/
#light main {
  background-color: var(--very-light-gray);
}

/*--- Dark Mode ---*/
#dark main {
  background-color: var(--very-dark-blue-1);
}

/*-- LibraryPage --*/
/*--- Light Mode ---*/
/*---- Filters ----*/
/*----- Search -----*/
#light .search-filter-container {
  background-color: var(--white);
  box-shadow: 0 0 10px 5px rgb(233, 233, 233);
}
#light ::placeholder {
  color: var(--dark-gray);
}

/*----- Region -----*/
#light .region-filter-container {
  box-shadow: 0 0 10px 5px rgb(233, 233, 233);
  background-color: var(--white);
  color: var(--very-dark-blue-2);
}

/*---- Country cards (item list) ----*/
#light .country-card-container {
  box-shadow: 0.5px 1px rgb(233, 233, 233), -0.5px 0 rgb(233, 233, 233);
}
#light .country-card-container:hover {
  box-shadow: 0 0 10px 5px rgb(233, 233, 233);
}
#light .country-card-summary {
  background-color: var(--white);
}

/*---- Pagination ----*/
#light .pagination-container {
  box-shadow: 0 0 10px 5px rgb(233, 233, 233);
  background-color: var(--white);
}
#light .prev-next-btn {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue-2) !important;
}

/*--- Dark Mode ---*/
/*---- Filters- ----*/
/*----- Search -----*/
#dark .search-filter-container {
  background-color: var(--dark-blue);
  box-shadow: 0 0 8px 2px hsl(209, 22%, 34%);
}
#dark ::placeholder {
  color: var(--white);
}

/*----- Region -----*/
#dark .region-filter-container {
  box-shadow: 0 0 8px 2px hsl(209, 22%, 34%);
  background-color: var(--dark-blue);
  color: var(--white);
}

/*---- Country cards (item list) ----*/
#dark .country-card-container {
  box-shadow: 0.5px 1px hsl(209, 22%, 34%), -0.5px 0 hsl(209, 23%, 22%);
}
#dark .country-card-container:hover {
  box-shadow: 0 0 8px 2px hsl(209, 22%, 34%);
}
#dark .country-card-summary {
  background-color: var(--dark-blue);
}

/*---- Pagination ----*/
#dark .pagination-container {
  box-shadow: 0 0 8px 2px hsl(209, 22%, 34%);
  background-color: var(--dark-blue);
}
#dark .prev-next-btn {
  background-color: var(--very-dark-blue-1);
  color: var(--white) !important;
}

/*-- LibraryItemPage --*/
/*--- Light Mode ---*/
/*---- button (back) ----*/
#light .btn-back {
  background-color: var(--white);
  box-shadow: 0 0 10px 5px rgb(233, 233, 233);
}

/*---- img ----*/
#light .img-container {
  box-shadow: 0 0 3px 6px rgb(233, 233, 233);
}
/*---- map ----*/
#light .map-container {
  box-shadow: 0 0 3px 6px rgb(233, 233, 233);
}

/*---- shared borders container ----*/
#light .country-borders-container {
  background-color: var(--white);
  color: var(--very-dark-blue-2);
  box-shadow: 0 0 3px 3px rgb(233, 233, 233);
}

/*--- Dark Mode ---*/
/*---- button (back) ----*/
#dark .btn-back {
  background-color: var(--dark-blue);
  box-shadow: 0 0 8px 2px hsl(209, 22%, 34%);
}

/*---- img ----*/
#dark .img-container {
  box-shadow: 0 0 3px 6px hsl(209, 22%, 34%);
}
/*---- map ----*/
#dark .map-container {
  box-shadow: 0 0 3px 6px hsl(209, 22%, 34%);
}

/*---- shared borders container ----*/
#dark .country-borders-container {
  background-color: var(--dark-blue);
  color: var(--white);
  box-shadow: 0 0 3px 3px hsl(209, 22%, 34%);
}

/* ----------------------- */
/*-- Challenge page --*/
/*--- Empty ---*/

/*-- Quiz page --*/
/*--- Light mode ---*/
/*---- Quiz img ----*/
#light .quiz-img {
  border: 1px solid var(--light-gray);
}
/*---- Quiz btn ----*/
#light .quiz-btn {
  background-color: var(--white);
  color: var(--very-dark-blue-2);
  box-shadow: 0 0 3px 3px rgb(233, 233, 233);
}
#light .quiz-btn:hover::after {
  background-color: rgb(233, 233, 233);
}
/*---- Result Tracker ----*/
#light .numeric-stage-filler {
  border-right: 1px solid rgb(233, 233, 233);
}
/*---- Quiz Results ----*/
#light .results-item-container {
  border-bottom: 1px solid var(--dark-gray);
}
/*--- Dark mode ---*/
/*---- Quiz img ----*/
#dark .quiz-img {
  border: 1px solid var(--dark-gray);
}
/*---- Quiz btn ----*/
#dark .quiz-btn {
  background-color: var(--dark-blue);
  color: var(--white);
  box-shadow: 0 0 3px 3px hsl(209, 22%, 34%);
}
#dark .quiz-btn:hover::after {
  background-color: hsl(209, 22%, 34%);
}
/*---- Result Tracker ----*/
#dark .numeric-stage-filler {
  border-right: 1px solid hsl(209, 22%, 34%);
}
/*---- Quiz Results ----*/
#dark .results-item-container {
  border-bottom: 1px solid hsl(209, 22%, 34%);
}
