.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: 1440px;
  gap: 0.5em;
}
.resultimgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 80%;
  height: auto;
  gap: 1em;
}
.resultTrackerWrapper {
  min-width: 350px;

  margin-top: 0.4em;
}
.imgWrapper {
  width: 100%;
}
.imgContainer {
  border-radius: 4px;

  position: relative;

  width: 100%;
  height: auto;

  padding-bottom: calc(100% / var(--aspect-ratio));
}

.imgContainer img {
  height: 100%;
  width: 100%;

  border-radius: 4px;

  object-fit: cover;
  object-position: center;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  position: absolute;
}
.challengeHeadline {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;

  max-width: 350px;
}

@media screen and (min-width: 500px) {
  .imgWrapper {
    width: 88%;
  }
}
@media screen and (min-width: 600px) {
  .resultimgWrapper {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .resultimgWrapper {
    width: 55%;
  }

  .challengeHeadline {
    max-width: 400px;
  }
}
@media screen and (min-width: 850px) {
  .resultimgWrapper {
    width: 50%;
  }
}
@media screen and (min-width: 940px) {
  .resultimgWrapper {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-top: 2em;
  }
  .imgWrapper {
    width: 70%;

    display: flex;
    justify-content: center;
  }

  .challengeHeadline {
    max-width: 450px;
  }
  .resultimgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 60%;

    margin-top: 0.5em;

    margin-right: 110px;
  }
  .resultTrackerWrapper {
    width: 10%;
    height: 350px;
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .challengeHeadline {
    max-width: 500px;
    font-size: 24px;
  }
}

@media screen and (min-height: 880px) {
  .imgWrapper {
    width: 95%;
  }
}
