.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  max-width: 1440px;
  gap: 2em;
}

.imgContainer {
  border-radius: 4px;
  height: 100%;
  width: 50%;

  min-width: 300px;
  min-height: 250px;

  position: relative;
}
.imgContainer img {
  height: 100%;
  width: 100%;

  min-width: 300px;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  position: absolute;
}
.challengeHeadline {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.25px;

  max-width: 350px;
}

@media screen and (min-width: 768px) {
  .imgContainer {
    min-height: 325px;
  }
  .challengeHeadline {
    max-width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .imgContainer {
    min-height: 375px;
  }
  .challengeHeadline {
    max-width: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .imgContainer {
    min-height: 425px;
  }
  .challengeHeadline {
    max-width: 500px;
    font-size: 28px;
  }
}
